#video-container{

    margin: 6% 20%;
    align-items: center;
    background-color:black;
     position: relative;
    padding-bottom: 31%; 
    height: 0;
}

iframe{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.answers{
    margin:20px auto;
}
.preguntas{
    margin:10%;
}

.button-questions-container{
    display:flex;
    align-items: center;
    justify-content:center;
}
body{
    background-image: url('./media/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}